<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/tracker.js'></script>
    <script type='text/javascript' src='/javascripts/events.js'></script>
  </head>
  <body>
    <h1>Under Construction</h1>
    <p>Andrew's site will be live soon!</p>
  </body>
</html>
