<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Hassan</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/javascripts/underscore.min.js'></script>
    <script type='text/javascript' src='/javascripts/scroll_events.js'></script>
    <script type='text/javascript' src='/javascripts/project_modal.js'></script>
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
  </head>
  <body>
    <div class="header">
      <div class="navigation">
        <h1>Andrew Hassan</h1>
        <nav>
          <a href="#about" class="active">About</a>
          <a href="#engineering">Engineering</a>
          <a href="#design">Design</a>
          <a href="#contact">Contact and Resume</a>
        </nav>
      </div>
      <div class="profile-picture">
        <img src="/images/andrew.png" />
      </div>
    </div>
    <div class="side-line"></div>
    <div class="content">
      <section id="about">
        <h1>About Me</h1>
        <div id="about_horizontal_line" class="horizontal-line pull-right"></div>
        <p>I am Andrew Hassan. I'm currently a fourth-year Computer Engineering student at the University of Waterloo. Through the co-op program at UW, I've had the privilege to work at many different companies to expand my software engineering skills. Combining my experience with the theory taught in school, I've been able to complete some pretty ambitious projects (see below).</p>
        <p>Aside from school and work, I like to game (I'm both a PC and console gamer), play music (I DJ as a hobby and play piano), or drool over the latest cars.</p>
      </section>
      <section id="engineering">
        <h1>Engineering</h1>
        <div id="engineering_horizontal_line" class="horizontal-line pull-right"></div>
        <p>Over the course of the co-op program, I've built my engineering skillset up and have worked on a bunch of cool projects over the years. Below is a gallery of a few of my past projects.</p>
        <div class="well">
          <div id="project_1" class="project" data-toggle="modal" href="/projects/project_1" data-target="#project_modal">
            <div class="project-image">
              <img class="limit-width" src="/images/project_1.png" />
            </div>
            <div class="project-name b-20">
              Realtime Web Application to Monitor and Analyze Remote Sensor Data
            </div>
          </div>
        </div>
      </section>
      <section id="design">
        <h1>Design</h1>
        <div id="design_horizontal_line" class="horizontal-line pull-right"></div>
        <p>Coming soon!</p>
      </section>
      <section id="contact">
        <h1>Contact Information & Resume</h1>
        <div id="contact_horizontal_line" class="horizontal-line pull-right"></div>
        <p>
          <i class="fa fa-file-o"></i> <a href="/pdfs/resume.pdf">Resume</a>
        </p>
        <p>
          <i class="fa fa-phone"></i> 519-729-7512
        </p>
        <p>
          <i class="fa fa-envelope"></i> andrewihassan@gmail.com
        </p>
        <p>

        </h4>
      </section>
    </div>
    <div class="modal fade" id="project_modal">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </body>
</html>
