<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Wiki-Walk: Wikipedia Traversal</h4>
</div>
<div class="modal-body">
  <p>This was an app that 2 friends and I built for the 2013 Sortable Hackathon. It's based on the Wikipedia game, where the object of the game is to start at a random article and click on links to get to a target article.</p>
  <p>When you type a Wikipedia article name into the app, it will get the links from that page and show it as a tree. From there, you can expand those links to find links on those pages. You can keep doing this until you reach the depth limit (which you can actually increase within the UI).</p>
  <img class="width-100" src="/images/project_2.png" />
  <p>The application is currently hosted at <a href="wikiwalk.heroku.com">wikiwalk.heroku.com</a>. Note that it isn't maintained anymore, so it may not work with the latest versions of Chrome. It should, however, still work with WebKit browsers such as Safari.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
