<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Raspberry Pi Router</h4>
</div>
<div class="modal-body">
  <p>When my store-bought router failed at home, I decided to use my networks knowledge and put my Raspberry Pi to use instead of buying a new router.</p>
  <p>I used my Raspberry Pi along with a $10 USB wireless card to build the router. The bulk of the work was getting the software to work correctly and reliably.</p>
  <p>To allow the wireless card to be used as an access point, I used <span class="code">hostapd</span>; configuring this allowed me to give it an SSID. To assign IP addresses, I used a DHCP utility called <span class="code">isc-dhcp-server</span>. At this point, clients could connect to the Raspberry Pi, but the ethernet connection still wasn't bridged.</p>
  <p>To bridge the ethernet connection from the Pi to connected clients, I used <span class="code">iptables</span>.</p>
  <p>This gave me a functioning wireless router.</p>
  <img class="width_100" src="/images/project_2.png" />
  <p>The application is currently hosted at <a href="wikiwalk.heroku.com">wikiwalk.heroku.com</a>.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
