body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  margin-top: 0;
  background-color: #eee;
}

a {
  color: #4DC951;
}

/* HEADER CSS */
body .header {
  background-color: rgba(51,51,51,0.9);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

body .header.collapsed {
  height: 60px;
}

body .header > .navigation > h1,
body .header > .navigation > nav,
body .header > .profile-picture,
body .header {
  transition-duration: 0.3s;
}

body .header > .navigation {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

body .header > .navigation a {
  color: #cccccc;
}

body .header > .navigation > h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body .header.collapsed > .navigation > h1 {
  font-size: 30px;
}

body .header > .navigation > nav {
  position: relative;
  display: inline-block;
  padding-left: 15px;
}

body .header.collapsed > .navigation > nav {
  bottom: 3px;
}

body .header > .navigation > nav > a {
  padding: 5px;
  font-size: 13pt;
}

body .header > .navigation > nav > a:hover {
  text-decoration: none;
}

body .header > .navigation > nav > a.active {
  background-color: #222222;
  border-radius: 3px;
}

body .header > .profile-picture {
  width: 175px;
  height: 175px;
  position: absolute;
  right: 12px;
  top: 12px;
}

body .header.collapsed > .profile-picture {
  width: 100px;
  height: 100px;
  right: 50px;
}

body .header > .profile-picture > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #4DC951;
}

body .content {
  margin-top: 115px;
  padding-top: 0;
}

/* LINE CSS */
.side-line {
  position: fixed;
  width: 2px;
  height: 0;
  background-color: #4DC951;
  right: 100px;
  top: 100px;
  margin-bottom: 20px;
  -webkit-animation: animate-side-line 1.5s;
  animation: animate-side-line 1.5s;
  -webkit-animation-fill-mode: forwards;
}

.horizontal-line {
  width: 0;
  height: 1px;
  background-color: #4DC951;
  transition-duration: 1s;
  margin-bottom: 10px;
  margin-left: 100%;
}

.horizontal-line.show {
  width: 100%;
}

@-webkit-keyframes animate-side-line {
  from { height: 0; }
  to { height: 100%; }
}

@keyframes animate-side-line {
  from { height: 0; }
  to { height: 100%; }
}

/* SECTION CSS */
.content section {
  padding: 15px 0 0 15px;
  margin-right: 100px;
}

h1 {
  font-weight: 200;
}

.content section p {
  width: 98%;
}

h2 {
  font-weight: 200;
  font-size: 18pt;
}

.content section .well {
  width: 98%;
}

.content section h4 {
  font-weight: 200;
}

/* PROJECT GALLERY */
.project {
  padding: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px #ddd;
  background-color: #f9f9f9;
  display: inline-block;
  margin: 10px;
  vertical-align: middle
}

.project:hover {
  cursor: pointer;
}

.project img.limit-height {
  height: 260px;
}

.project img.limit-width {
  width: 260px;
}

.project-name {
  height: 40px;
  position: relative;
}

.b-20 {
  bottom: 20px;
}

.project-image {
  height: 260px;
}

#engineering > .well {
  overflow-y: scroll;
}

/* MODAL STYLES */
.modal-body h3 {
  font-size: 14pt;
}

.code {
  display: inline;
  font-family: monospace;
  background-color:#eee;
  border-radius: 3px;
  padding:2px;
}

/* UTILITY CLASSES */
.width-100 {
  width: 100%;
  height: auto;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}
