body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  margin-top: 0;
}

a {
  color: #3d93e3;
}

/* HEADER CSS */
body .header {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #3d93e3;
}

body .header.collapsed {
  height: 60px;
}

body .header > .navigation > h1,
body .header > .navigation > nav,
body .header > .profile-picture,
body .header {
  transition-duration: 0.3s;
}

body .header > .navigation {
  position: absolute;
  left: 15px;
  bottom: 5px;
}

body .header > .navigation > h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

body .header.collapsed > .navigation > h1 {
  font-size: 36px;
}

body .header > .navigation > nav {
  position: relative;
  display: inline-block;
  padding-left: 15px;
}

body .header.collapsed > .navigation > nav {
  bottom: 5px;
}

body .header > .navigation > nav > a {
  padding: 5px;
  font-size: 13pt;
}

body .header > .navigation > nav > a:hover {
  text-decoration: none;
}

body .header > .navigation > nav > a.active {
  background-color: #eeeeee;
  border-radius: 3px;
}

body .header > .profile-picture {
  width: 175px;
  height: 175px;
  position: absolute;
  right: 12px;
  top: 12px;
}

body .header.collapsed > .profile-picture {
  width: 100px;
  height: 100px;
  right: 50px;
}

body .header > .profile-picture > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #3d93e3;
}

body .content {
  margin-top: 115px;
  padding-top: 0;
}

/* LINE CSS */
.side-line {
  position: fixed;
  width: 2px;
  height: 0;
  background-color: #3d93e3;
  right: 100px;
  top: 100px;
  margin-bottom: 20px;
  -webkit-animation: animate-side-line 1.5s;
  animation: animate-side-line 1.5s;
  -webkit-animation-fill-mode: forwards;
}

.horizontal-line {
  width: 0;
  height: 1px;
  background-color: #3d93e3;
  transition-duration: 1s;
  margin-bottom: 10px;
  margin-left: 100%;
}

.horizontal-line.show {
  width: 100%;
}

@-webkit-keyframes animate-side-line {
  from { height: 0; }
  to { height: 100%; }
}

@keyframes animate-side-line {
  from { height: 0; }
  to { height: 100%; }
}

/* SECTION CSS */
.content section {
  padding: 15px 0 0 15px;
  margin-right: 100px;
}

.content section > h1 {
  font-weight: 200;
}

.content section p {
  width: 97%;
}
